{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": "off",
    "global-require": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreComments": true,
        "ignorePattern": "^\\s*import\\s.+from\\s*"
      }
    ]
  }
}
